# VSCode settings
.vscode

# Databases and logs
configServer/configServer1
configServer/configServer2
configServer/configServer3
router/log
shard1/shard11
shard2/shard21
shard3/shard31
shard1/shard12
shard2/shard22
shard3/shard32
shard1/shard13
shard2/shard23
shard3/shard33

# Data
products.part2.json